*.iml
.gradle/
.gradle-home/
/local.properties
/.idea/
.DS_Store
**/build/
/app/release/
/captures
.externalNativeBuild
.cxx
local.properties

# Application binaries
*.apk
*.aab
*.apks

# Signing files
*.jks
*.keystore
keystore.properties

# Logs
*.log
